.ListChat-button {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0 15px 0; /* Asegura un margen uniforme entre botones */
    background-color: #ffffff; /* Fondo blanco para los botones */
    border: 2px solid #056f69; /* Borde sólido con el color principal */
    border-radius: 25px; /* Bordes redondeados suaves */
    color: #056f69; /* Color de texto que combina con el fondo de la lista */
    cursor: pointer; /* Indica que el elemento es clickeable */
    font-size: 16px; /* Tamaño de letra legible */
    font-weight: bold; /* Texto en negrita para mayor presencia */
    transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Transición suave para hover y click */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaciado interno entre el contenido del botón */
}

.chat-container, .mensaje-usuario, .chats-detail {
    font-family: Arial, sans-serif;
}


.chats-container {
    display: flex; /* Establece el contenedor como un contenedor flexible */
    justify-content: center; /* Distribuye los elementos a lo largo del contenedor con espacio entre ellos */
    padding: 10px; /* Agrega un espacio interno de 20px alrededor del contenedor */
    justify-content: space-around;    
    height: 80%; /* Ajusta la altura según sea necesario */
}

.chats-container.active {
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor con espacio entre ellos */
}

.active-chat {
    flex: 3; /* Ocupa 3/4 del espacio disponible en el contenedor */
    position: relative;
    flex-basis: 45%;
    background-color: #48a09ba1;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    height: auto;
}


.chat-details {
    flex-basis: 30%;
    background-color: #05605c; /* Color de fondo para la lista de reuniones */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espacio interior para no tocar los bordes */
    overflow-y: auto; /* Habilita el desplazamiento si la lista es muy larga */
    margin-bottom: auto;    
}

.input-boton{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.input-boton.input{
    flex: 1;
}

.input-boton.button{
    flex: 1;
}

.chat-titulo {
    font-size: 24px; /* Tamaño de fuente grande para destacar */
    color: #056f69; /* Color oscuro para el texto, asegurando contraste */
    font-weight: bold; /* Fuente en negrita para darle presencia */
    text-align: center; /* Alineación central para darle prominencia */
    margin-bottom: 20px; /* Espacio debajo del título para separar del contenido */
    padding: 10px; /* Espacio interior para una mejor visualización */
    border-bottom: 3px solid #048f79; /* Línea sutil debajo para destacar */
    background-color: #f8f8f8; /* Fondo claro para contraste */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
    border-radius: 10px; /* Bordes redondeados suaves */
    max-width: 80%; /* Ancho máximo para contención */
    margin-left: auto; /* Margen automático para centrado horizontal */
    margin-right: auto; /* Margen automático para centrado horizontal */
}

.mensaje-usuario{
    margin-left: 15px;
    margin-right: 15px;
    color: #ffff;
    margin-top: 0px;
}

.chat-pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chat-usuario{
    display: flex; 
    color: #ffff; /* Color de texto blanco */
}

.chat-usuario h3{
    margin-left: 15px;
    margin-top: 25px;
}

.chat-usuario-inside{
    display: flex; 
    color: #ffff; /* Color de texto blanco */
    margin-top: 1px;
}

.chat-usuario-inside p{
    margin-left: 5px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

.sent-message {
    background-color: #DCF8C6; /* Color de fondo para mensajes enviados */
    margin-left: auto; /* Mueve el mensaje hacia la derecha */
}

.perfil-user{
    width: 60px;
    height: 65px;
}

.perfil-user-inside{
    margin-top: 1px;
    width: 40px;
    height: 40px;
}

.chat-message {
    margin-bottom: 15px; /* Margen inferior */
}

.chat-message p {
    color: #ffff; /* Color de texto blanco */
    margin-bottom: 5px; /* Margen inferior */
    white-space: pre-wrap;
}

.chat {
    background-color: #63fac852; /* Verde */
    padding: 10px; /* Espacio interior */
    margin-bottom: 10px; /* Margen inferior */
    border-radius: 8px; /* Bordes redondeados */
    margin-right: 150px;
}

.chat-left {
    background-color: #46fde536;
    margin-left: 20px;
    margin-right: 500px;
    padding: 5px; /* Reducimos el espacio interior */
    margin-bottom: 10px; /* Margen inferior */
    border-radius: 8px; /* Bordes redondeados */
    max-width: 70%; /* Anchura máxima del mensaje */
    word-wrap: break-word; /* Permitir saltos de línea dentro de palabras */
    font-family: Arial, sans-serif;
}

.chat-right {
    background-color: #087768;
    margin-right: 20px;
    margin-left: 500px;
    align-self: flex-end;
    font-family: Arial, sans-serif;
    word-wrap: break-word; /* Permitir saltos de línea dentro de palabras */
}


.chat h3 {
    color: #ffff; /* Color de texto blanco */
    margin-bottom: 5px; /* Margen inferior */
}

.chat p {
    color: #ffffff; /* Color de texto blanco */
    margin-bottom: 5px; /* Margen inferior */
}

.mensaje-input {
    width: calc(100% - 20px); /* Ancho del textarea menos el padding */
    padding: 13px; /* Espacio interior */
    margin-bottom: 10px; /* Margen inferior */
    border: 1px solid #55efc352; /* Borde sólido con color verde */
    border-radius: 5px; /* Bordes redondeados */
    resize: none; /* Evita que el usuario redimensione el textarea */
    overflow-y: auto; /* Agrega un scroll vertical si es necesario */
    font-family: inherit; /* Utiliza la misma fuente que el resto del texto */
}

.boton-enviar {
    padding: 10px 20px; /* Espacio interior */
    background-color: #084437; /* Verde claro */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color de texto blanco */
    cursor: pointer; /* Indica que el elemento es clickeable */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para hover y click */
    margin-left: 5px;
    margin-bottom: 10px;
}

button:hover {     
    background-color: #00796b;/* Verde oscuro al pasar el ratón */
}

.introduction {
    overflow-y: visible; /* Permite que el contenido de la introducción sea visible sin scroll */
    margin-left: 20px;
    margin-right: 20px;
}

.conversation {
    height: 47%; /* Altura máxima del contenedor */
    overflow-y: auto; /* Aparecerá el scrollbar cuando sea necesario */
}

.conversation::-webkit-scrollbar {
    width: 12px; /* Ancho del scroll */
}

.conversation::-webkit-scrollbar-thumb {
    background-color: #55efc352; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados del thumb */
}

.conversation {
    scrollbar-width: unset; /* Estilo del scroll */
    scrollbar-color: #55efc352 transparent; /* Color del thumb y track */
}