.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../Logos/Fondo.png'); /* Asegúrate de reemplazar con la ruta correcta a tu imagen */
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1; /* Coloca el fondo detrás del contenido */
}


.sidebar {
  width: 80px;
  background-color: #056F6A;
  /* Un color más sólido para mejorar la visibilidad */
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  /* Añade sombra para un efecto de profundidad */
  transition: width 0.3s;
  /* Suave transición al cambiar el ancho */
}

/* Efecto de hover para los botones para indicar interactividad */
.home-button,
.calendar-button,
.meeting-button,
.chat-button,
.settings-button,
.vote-button {
  display: block;
  width: 45px;
  height: auto;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 1px;
  transition: transform 0.3s;
  /* Transición para efecto de pulsación */
}

.home-button:hover,
.calendar-button:hover,
.meeting-button:hover,
.chat-button:hover,
.settings-button:hover,
.vote-button:hover {
  transform: scale(1.1);
  /* Aumenta el tamaño al pasar el mouse */
}

.sidebar-label {
  color: #FFFFFF;
  /* Mantiene el texto blanco para contraste */
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  /* Sombras en texto para mejorar la legibilidad */
}

/* Expandir la barra lateral al pasar el mouse */
.sidebar:hover {
  width: 87px;
  /* Ancho más grande al pasar el mouse */
}


.main-content {
  flex-grow: 1;
  /* Ocupa el espacio restante */
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 50px;
  font-size: 17px;
  color: white;
  /* Cambiado a white para consistencia */
}

.logout-button {
  padding: 10px 20px;
  background-color: #eceaeab0;
  /* Botones con color más hacia el blanco */
  color: white;
  /* Cambiado a white para consistencia */
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 20px;
}

.logout-button:hover {
  background-color: #e0e0e0;
  /* Un color ligeramente más oscuro al pasar el ratón */
}









.media-container {
  display: flex;
  gap: 30px; /* Espacio entre los bloques */
  margin: 30px; /* Margen para separar del resto del contenido */
  margin-top: 0px;
}

.meetingsAndElections,
.chatsAndReservations{
  flex: 1;
}




.meetings {
  background: #045551; /* Color de fondo consistente */
  padding: 25px; /* Mayor padding para un aspecto más espacioso */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Sombra para más profundidad */
  color: #FFFFFF; /* Texto en blanco para contraste */
}

.meetings h2 {
  font-size: 15px; /* Mayor tamaño de fuente */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; /* Más espacio debajo del encabezado */
  margin-top: 0px;
}

.buttons-container-meetings {
  display: flex;
  flex-direction: column;
}

.buttonMeeting {
  padding: 15px 20px; /* Padding adicional para comodidad */
  margin-bottom: 10px;
  border: none;
  border-radius: 10px; /* Esquinas más suaves */
  background: #6a898716; /* Fondo sutilmente translúcido */
  color: #FFFFFF; /* Texto en blanco para contraste */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alineación vertical */
  transition: background-color 0.25s ease, box-shadow 0.25s; /* Transiciones suaves */
}

.buttonMeeting span {
  background: #85adaa11; /* Fondo consistente para las fechas */
  color: #FFFFFF;
  padding: 4px 10px; /* Padding para una mejor legibilidad */
  border-radius: 10px; /* Bordes redondeados */
  margin-left: 5px;
}

.buttonMeeting:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra adicional en hover */
}

.buttonMeeting:last-child {
  margin-bottom: 0; /* Evita margen adicional en el último botón */
}






.elections {
  background: #045551; /* Color de fondo para la sección de votaciones */
  padding: 25px; /* Espaciado interno para darle amplitud */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Sombra suave para profundidad */
  color: #FFFFFF; /* Texto blanco para contraste */
  margin-top: 20px; /* Espacio debajo de la sección */
}

.elections h2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; /* Espaciado debajo del título */
  margin-top: 0px;
}

.buttons-container-elections {
  display: flex;
  flex-direction: column;
}

.buttonElection {
  background: #056c67; /* Fondo translúcido */
  color: #FFFFFF; /* Texto blanco */
  padding: 15px 20px; /* Espaciado dentro de cada botón */
  margin-bottom: 10px; /* Espacio entre botones */
  border: none;
  border-radius: 10px; /* Esquinas redondeadas */
  display: flex;
  justify-content: space-between; /* Espaciado entre el título de la votación y la fecha */
  align-items: center;
  cursor: pointer; /* Indica que es clickeable */
  transition: background-color 0.25s ease; /* Transición suave de color de fondo */
  position: relative; /* Posicionamiento relativo para posicionar el pseudo-elemento */
  padding-left: 35px; /* Ajuste el padding izquierdo para hacer espacio para el círculo */
}

.buttonElection::before {
  content: ''; /* El pseudo-elemento necesita la propiedad 'content' */
  position: absolute; /* Posicionamiento absoluto respecto al botón */
  left: 10px; /* Posición desde la izquierda del botón */
  top: 50%; /* Alineación vertical centrada */
  transform: translateY(-50%); /* Centrado exacto */
  width: 10px; /* Ancho del círculo */
  height: 10px; /* Altura del círculo */
  background-color: #cbdccc; /* Color de fondo del círculo, puedes cambiarlo */
  border-radius: 50%; /* Hace el círculo perfectamente redondo */
  margin-left: 4px;
}

.buttonElection span {
  background: #044c48; /* Fondo para la fecha, un tono más oscuro para diferenciar */
  color: #FFFFFF;
  padding: 4px 10px; /* Espaciado interno para las fechas */
  border-radius: 10px; /* Esquinas redondeadas para las fechas */
  margin-left: 5px; /* Espacio a la izquierda de la fecha */
}

.buttonElection:hover {
  background: rgba(255, 255, 255, 0.2); /* Cambio de color en hover */
}

.buttonElection:last-child {
  margin-bottom: 0; /* No hay margen adicional en el último elemento */
}





.chats {
  background: #045551; /* Color de fondo */
  padding: 25px; /* Padding para dar espacio alrededor */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Sombra para dar profundidad */
  color: #FFFFFF; /* Color del texto en blanco para contraste */
  margin: 20px; /* Margen alrededor de la sección para evitar que toque otros elementos */
  margin-top: 0px;
}

.chats h2 {
  font-size: 15px; /* Tamaño de fuente para el título */
  font-weight: bold; /* Peso de la fuente para que destaque */
  text-align: center; /* Centrar el título */
  margin-bottom: 20px; /* Espacio debajo del título */
  margin-top: 0px;
}
.buttonChat .text-container h3 {
  margin: 0; /* Establece el margen del h3 a cero para que se pegue al borde izquierdo */
}

.buttons-container-chats {
  display: flex; /* Usar flexbox para organizar los botones */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente línea */
  gap: 20px; /* Espacio entre los botones */
  justify-content: center; /* Centrar los botones en el contenedor si hay espacio extra */
}

.buttonChat {
  display: flex; /* Flex para alinear imagen y texto */
  align-items: center; /* Alineación vertical de los elementos */
  width: calc(50% - 20px); /* Calcular el ancho para dos botones por fila, restando el espacio del gap */
  padding: 15px; /* Padding dentro del botón */
  border-radius: 10px; /* Bordes redondeados */
  background: #69aba984; /* Fondo translúcido */
  border: none; /* Quitar el borde */
  color: white;
  transition: background-color 0.25s ease;
}

.buttonChat img.perfil-user {
  width: 65px; /* Tamaño de la imagen de perfil */
  height: 70px; /* Mantener la imagen cuadrada */
  border-radius: 50%; /* Hacer la imagen redonda */
  margin-right: 10px; /* Espacio a la derecha de la imagen */
  margin-top: 0px;
}

.buttonChat .text-container {
  display: flex; /* Flex para organizar texto verticalmente */
  flex-direction: column; /* Texto en columna */
}

.arrow {
  font-size: 30px; /* Tamaño del símbolo ">" */
  color: #FFFFFF; /* Color del símbolo */
  margin-left: auto; /* Alinear el símbolo ">" a la derecha */
  margin-right: 10px; /* Margen a la derecha del símbolo ">" */
}
