


.elections-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.elections-list {
    flex: 2;
    background-color: #056f69; /* Color de fondo para la lista de reuniones */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espacio interior para no tocar los bordes */
    overflow-y: auto; /* Habilita el desplazamiento si la lista es muy larga */
    margin-left: 20px;
}
.elections-list h2{
    color: #ffffff; /* Texto blanco para contraste */
    margin-bottom: 10px 0; /* Espacio vertical entre elementos */
}

.elections-details {
    position: relative;
    flex: 5;
    background-color: #48a09c; /* Color de fondo para los detalles de la reunión */
    border-radius: 15px; /* Bordes redondeados */
    padding: 20px; /* Espacio interior */
    overflow-y: auto; /* Habilita el desplazamiento si el contenido es muy largo */
}

.election-info {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.vote-title {
    font-size: 24px; /* Tamaño de fuente grande para destacar */
    color: #056f69; /* Color oscuro para el texto, asegurando contraste */
    font-weight: bold; /* Fuente en negrita para darle presencia */
    text-align: center; /* Alineación central para darle prominencia */
    margin-bottom: 20px; /* Espacio debajo del título para separar del contenido */
    padding: 10px; /* Espacio interior para una mejor visualización */
    border-bottom: 3px solid #048f79; /* Línea sutil debajo para destacar */
    background-color: #f8f8f8; /* Fondo claro para contraste */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
    border-radius: 10px; /* Bordes redondeados suaves */
    max-width: 80%; /* Ancho máximo para contención */
    margin-left: auto; /* Margen automático para centrado horizontal */
    margin-right: auto; /* Margen automático para centrado horizontal */
}

.vote-button-election {
    padding: 12px 20px;
    margin: 5px;
    background-color: #056f69; /* Color principal oscuro */
    color: #ffffff; /* Texto en blanco para contraste */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px; /* Tamaño de fuente ajustado para mejor ajuste */
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s; /* Transición suave para efectos */
    display: inline-block; /* Cambio a inline-block para mejor manejo de espacio */
    min-width: 160px; /* Ancho mínimo para asegurar espacio para el texto */
    text-align: center; /* Alineación del texto al centro */
    box-sizing: border-box; /* Incluye padding y border en el width total */
}

.vote-button-election:hover {
    background-color: #048f79; /* Color ligeramente más claro al pasar el ratón */
    transform: scale(1.05); /* Ligero aumento en tamaño para feedback visual */
}

.vote-button-election:active {
    transform: scale(0.95); /* Efecto de pulsación */
}

.vote-container {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; /* Permite que los botones se ajusten en múltiples líneas si es necesario */
}

.thanks {
    color: #2b5d5b; /* Color verde */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.delete-election-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #408d89bf; /* Ajusta el color de fondo según tu diseño */
    color: #ffffff; /* Color del texto */
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    display: inline-block; /* Importante para los enlaces comportarse como botones */
    text-align: center;
    position: absolute; /* Posicionamiento absoluto dentro del contenedor relativo */
    bottom: 10px; /* Ajusta la distancia desde la parte inferior del contenedor */
    right: 10px; /* Mantiene el botón alineado a la derecha */
}
.voting-results {
    padding: 5px;
    border-radius: 5px;
}

.voting-results h3 {
    color: #ffffffbf;
    font-size: 18px;
    margin-bottom: 8px;
}

.voting-results p {
    color: #ffffff90;
    font-size: 16px;
    margin-bottom: 4px;
}